<!DOCTYPE html>
<html>

<head>
    <title>MasterMind</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<script src="../app.js"></script>
<body>
        MasterMind
    <form action="/game/new" method="post">
        <p>Size<input type="number" name="size"></p>
        <p>Colors:
                <select multiple>
                        <option value="red" name="colors">red</option>
                        <option value="green" name="colors">green</option>
                        <option value="blue" name="colors">blue</option>
                        <option value="yellow" name="colors">yellow</option>
                </select> 

        </p>
        <p>Steps:<input type="number" name="steps"></p>
        <p><button type="submit" >Create game</button></p>
    </form>

   
</body>

</html>
