<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Game</title>
</head>
<body>
<h1>Podaj dane do gry</h1>
<form action="#">
<input type="text" id="steps">
<input type="text" id="colours">
<input type="text" id="size">
<button class ="btn" id="send">Rozpocznij</button>
</form>
</body>
</html>

