#all{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    width: 200vh;
}

#menu{
    background-color: gray;
    padding:10vh;
    display:flex;
    flex-direction:column;
    p
    {
        width:20vh;
        background-color:lighten(gray,35%);
        height:40px;
        width:175px;
        text-align: center;
        box-shadow: -10px 0px 0px 0px grey;
        border-top-left-radius: 10px;
        border: solid;
        border-width: 0.5px;
    }
}
#main{
    background-color:lighten(gray,30%);
    padding: 30px;
}
