body{
    background-color:rgb(190, 185, 185);

    #menu{
        position:fixed;
        bottom:0;
        top:0;
        right:calc(80%);
        width:30%;
        border-right:3px solid black;

        text-align: center;
        height:100%;
   
        
        
       

        span.el_menu{

            display:block;
            text-align: center;
            margin-top:5%;
            margin-left:30%;
            
            a:link{
                color:red;
                text-align: center;
            }
            a:visited{
                color:maroon;
                text-align: center;
                
            }
 
        }
    
        
    }


    #tresc
    {
        position:relative;
        right:0;
        bottom:0;
        top:0;
        left:calc(30%);
        width:calc(65%);
        height: 100%;
        

    }
  
}